player-connection-mode=Listen
player-connection-guid=2850886634
player-connection-debug=1
player-connection-project-name=Pokerrrrr
player-connection-ip=192.168.1.14
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=28b2a79c30a4497e98af2d4bd2c62f21
